@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', Open-Sans;
}

#navbar img {
    height: 80px;
    float: left;
}
#navbar {
    Padding: 5px 0;
    text-align: center;
    min-height: 100px;
}

#navbar a {
    float: right;
    top: 30px;
    color: #f2f2f2;
    position: relative;
    padding: 0 60px;
    text-decoration: none;
    font-size: 25px;
    background-color:hsl(27, 98%, 52%);
}

#navbar a:hover {
    background-color: rgb(245, 194, 164);
    color: black;
}

#navbar a.active {
    background-color: gray;
}

.bgimage {
    background: url('/assets/images/photo4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .7;
    height: 100vh;
}

h1 {
    font-size: 50px;
}

.join-us {
    color:hsl(27, 98%, 52%);
    text-align: center;
    padding-top: 80px;
}

#linktoevents {
    font-size: 30px;
    color: hsl(27, 98%, 52%);
    text-decoration: none;
}

#linktoevents:hover {
    background: rgb(245, 194, 164);
    color: black;
    border-radius: 40%;
    font-size: 30px;
}

#container {
    display: flex;
    justify-content: space-around;
    height: 35vh;
}

#container .info {
    background-color: hsl(27, 98%, 52%);
    text-align:left;
    color: rgb(7, 7, 7);
    border: transparent;
    opacity: .5;
}

#container .info:hover {
    color: white
}

.item1 img {
    height: 300px;
    padding-top: 15px;
    opacity: .7;
}

.item1 img:hover {
    opacity: 9;
}

.item2 img {
    height: 300px;
    padding-top: 15px;
    opacity: .7;
}

.item2 img:hover {
    opacity: 9;
}

.item3 img {
    height: 300px;
    padding-top: 15px;
    opacity: .7;
}

.item3 img:hover {
    opacity: 9;
}

.item4 img {
    height: 300px;
    padding-top: 15px;
    opacity: .7;
}

.item4 img:hover {
    opacity: 9;
}

/* footer */

.footer-links a {
    text-align: center;
}

.footer-links li {
    display: inline;
}

.footer-links i {
    font-size: 200%;
    margin: 5%;
    margin-top: 7%;
    color: rgb(221, 93, 8);
}

.copyright i:hover {
    color: blue;
}

.twitter i:hover {
    color: rgb(29,161,242);
}

.facebook i:hover {
    color: rgb(66,103,178);
}

.instagram i:hover {
    color: rgb(138, 58, 185);
}

/* media query for larger to medium screens */

@media screen and (max-width: 1200px) {
   
    

    .join-us {
        padding: 30px 0;
        margin: 0;
     }

     #navbar li {
         float: left;
         font-size: 20px;
         content: icon;
     }

     #container {
         display: flex;
     }

     .footer-links li {
        text-align:left;
     }
}

/* media query for logos */

@media only screen and (max-width: 767px) {
    #logo {
        content:url('/assets/images/motorbikebuddy-logo2.png');
        padding-left: 5px;
    }
}

@media only screen and (min-width: 767px) {
    #logo {
        content:url('/assets/images/motorbikebuddy-logo.jpg');
        
    }
}

/* login form styling Love Running Sample */

.form-section {
    clear:left;
    background: url('/assets/images/photo17.jpg');
    background-size: cover;
    background-position: center;
    height: 750px;
}

.login-form {
    margin: 150px 10% 0 0;
    color: rgb(221, 93, 8);
    background: transparent;
    max-width: 400px;
    position:absolute;
    left: 10%;
    padding: 30px;
}

.login-form h2 {
    color: rgb(44, 43, 43);
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: rgb(221, 93, 8);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid rgb(221, 93, 8);
    border-radius: 2px;
}

.text-input:hover {
    border-color: blue;
}

.kickstart-button {
    border-radius: 5%;
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(221, 93, 8);
    color: gray;
    display: block;
}